* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-white: #ffffff;
  --bg-orange: #fc5d1f;
  --bg-orange-dark: #ff3300;
  --bg-black: #000000;
  --margin-top: 10px;
  --box-shadow: 0 0.5rem 1rem rgb(248, 97, 38);
  --surface-color: rgb(0, 0, 0);
}

html,
body {
  overflow-x: hidden; /* Adicionado para evitar a rolagem horizontal */
}

html::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.25px;
}
html::-webkit-scrollbar-track {
  background: var(--bg-black);
}
html::-webkit-scrollbar-thumb {
  background: var(--bg-orange);
  border-radius: 5rem;
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--bg-orange-dark);
  cursor: pointer;
}

body {
  background-color: black;
  color: #f6f9ff;
}

header p {
  font-size: 1.2rem;
  color: var(--bg-orange);
  font-weight: bold;
}

.navbar-toggler {
  color: var(--bg-orange);
}

header.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  border-bottom: 1px solid rgb(248, 97, 38);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  margin: 0 auto;
  z-index: 1000;
}

.logo-text i {
  color: var(--bg-orange);
}

.logo-text {
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  color: var(--bg-white);
  font-weight: 800;
}

.navbar-nav .nav-item .nav-link {
  color: var(--bg-white);
}

.nav-item a {
  font-size: 18px;
}

.sobre h2 {
  color: var(--bg-orange);
}

.sobre {
  min-height: 100vh;
  font-size: 1.3rem;
}

.sobre li {
  display: inline-block;
  list-style-type: none;
}

.modal-content {
  background-color: #000000;
  text-align: center;
  font-size: x-large;
}

.modal-header {
  background-color: var(--bg-orange);
}

.modal-title {
  color: black;
  font-size: xxx-large;
}

.modal h1 {
  text-align: center;
}

.modal-title.fs-3 {
  font-weight: bold;
}

.modal-body {
  color: #ffffff;
}

.modal-footer button {
  background-color: var(--bg-orange);
  color: #000000;
  font-size: x-large;
}

.img-fluid {
  border-radius: 100px;
}

.redes-sociais {
  font-size: 35px;
  transition: 0.5ms;
  margin: auto;
  gap: 20px;
}

.lista-redes-sociais {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  font-size: 35px;
  transition: 0.5ms;
  margin: auto;
  gap: 20px;
}

.redes-sociais .lista-redes-sociais li a i {
  color: #ff6600;
}

.redes-sociais .lista-redes-sociais li a:hover i {
  color: #ff3300;
}

.btn-primary {
  background-color: var(--bg-orange);
  border-color: #ff5733;
  color: black;
}

.btn-primary:hover {
  background-color: #ff3300;
  border-color: #ff3300;
}

.my-mt {
  margin-top: var(--margin-top);
}

.my-title {
  color: var(--bg-white);
  font-weight: 700;
}

.escolaridade {
  font-size: 1.3rem;
}

.escolaridade h4 {
  color: var(--bg-orange);
}

.escolaridade p {
  color: var(--bg-white);
}

.carousel-inner h4,
h5, h6 {
  color: var(--bg-orange);
  text-align: center;
}

.carousel-inner ul {
  align-items: flex-start;
  font-size: large;
}

.mb-5::before {
  all: unset;
}

.col-lg-6::before {
  all: unset;
}

.carousel-inner {
  border-radius: 20px;
}
.carousel-inner img {
  width: 60%;
  height: auto; /* Ajustado para manter a proporção */
  border-radius: 16px;
}

.carousel-indicators button:hover,
.carousel-indicators .active {
  background-color: var(--bg-orange);
}

.carousel-control-next,
.carousel-control-prev {
  height: 1.5rem;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 290px;
}

.carousel-control-next {
  right: 1.5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  background-size: 100%;
}

.carousel-control-prev {
  left: calc(10%); /* Espaçamento das bordas da imagem */
}

.carousel-control-next {
  right: calc(3.5%); /* Espaçamento das bordas da imagem */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: var(--bg-orange);
}

.bg-black {
  background-color: var(--bg-black);
}

.icon {
  font-size: 60px;
  color: var(--bg-orange);
  margin: 24px 0;
  transition: 0.5s;
}

.card {
  transition: 0.5s;
  background-color: black;
  color: var(--bg-white);
}

.card:hover {
  background-color: var(--bg-black);
}

.card:hover .icon {
  transform: scale(1.5);
}

textarea {
  resize: none;
  height: 130px;
}

.rodape {
  margin-top: 10px;
  text-align: center;
}

.main {
  padding-top: 108px;
  background: var(--surface-color);
}

.footer h3 {
  color: var(--bg-orange);
}

.bold-text {
  font-weight: bolder;
}

.scrollTop {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 18px;
  width: 50px;
  height: 50px;
  z-index: 100;
  background-color: var(--bg-orange);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in 0.5s;
}

.scrollTop.visible {
  display: block;
  opacity: 1;
}
.scrollTop.hidden {
  opacity: 0;
}

.scrollTop:hover {
  background-color: var(--bg-orange-dark);
}

.rodape {
  color: var(--bg-white);
}

/* Formatação abaixo de 960px */
@media (max-width: 959px) {
  #sobre {
    text-align: center;
  }

  .lista-redes-sociais {
    justify-content: center;
  }
}
